SOURCE_POSTGRES_DB=ecommerce
SOURCE_POSTGRES_USER=source_admin
SOURCE_POSTGRES_PASSWORD=dev-source-admin-password
SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_INTERNAL_HOST=source-postgres
SOURCE_POSTGRES_INTERNAL_PORT=5432

SOURCE_APP_USER=source_app
SOURCE_APP_PASSWORD=dev-source-app-password

DEBEZIUM_USER=debezium
DEBEZIUM_PASSWORD=dev-debezium-password

GENERATOR_SEED=42
GENERATOR_INTERVAL_SECONDS=1
GENERATOR_INVALID_RATE=0.02
